/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ------------------INIZIO DEAFULT------------------ */
body {
    font-family: "Cinzel", serif;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
    color: #000;
    padding-bottom: 30px;
}

p {
    line-height: 28px;
    color: #666;
    font-weight: 300;
}

.big-text {
    font-size: 70px;
    font-weight: 900;
}

/*grassetto*/
.med-text {
    font-size: 40px;
}

.normal-text {
    font-size: 20px;
}

.small-text {
    font-size: 14px;
}

.intro-text {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.button {
    padding: 18px 28px;
    background: #316bff;
    color: #fff;
    display: inline-block;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .big-text {
        font-size: 40px;
    }
}

/* ------------------FINE DEFAULT------------------ */
/* ------------------INIZIO HEADER------------------ */

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
    display: flex;
    z-index: 10;
}

.logo {
    z-index: 1;
    padding-top: 8px;
}

.menu {
    transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    width: 100%;
    z-index: 0;
    padding-left: 15px;
}

.menu li {
    display: inline-block;
}

.menu li a {
    color: #fff;
    padding: 15px;
    display: block;
}

.hamburger {
    display: none;
}

@media (max-width: 768px) {
    .cta {
        display: none;
    }

    .menu {
        position: absolute;
        top: 0;
        right: -100%;
        background: #010e30;
        height: 100vh;
        padding-top: 80px;
    }

    .menu li {
        display: block;
    }

    /*li mette in fila verticalmente*/
    .menu li a {
        padding: 15px 30px;
        font-size: 20px;
    }

    .menu--open {
        right: 0;
    }

    .hamburger {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 40px;
        right: 30px;
    }

    .hamburger span {
        background: #fff;
        height: 3px;
        width: 100%;
        display: block;
        margin-bottom: 5px;
    }
}

/* ------------------FINE HEADER------------------ */
/* ------------------INIZIO HERO------------------ */
.hero {
    position: relative;
    height: 100vh;
    display: flex;
    width: 100%;
    align-items: center;
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.3) 70.71%
    ),
    url("./images/data2.jpg") no-repeat center center;
    /*con linear ingredient doppio background, sfondo con img e non video*/
    background-size: cover;
    overflow: hidden;
}

.hero::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.4;
}

.hero__content {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 30px;
    z-index: 1;
    position: relative;
    top: 50px;
}

.hero__content h1,
.hero__content p {
    color: #fff;
}

.hero_csv {
    height: 200px;
    text-align: center;
}

/* ------------------FINE HERO------------------ */
/* ------------------INIZIO POSTER------------------ */
.poster {
    display: flex;
    height: 100vh;
    /*border: 1px solid red;*/
    width: 100%;
    align-items: center;
}

.poster__img {
    width: 65%;
    height: 100%;
}

.poster__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    /*per far muovere l'img correttamente*/
}

.poster__content {
    width: 35%;
    padding: 50px;
}

@media (max-width: 768px) {
    .poster {
        flex-wrap: wrap;
        /*così va a capo*/
        height: auto;
    }

    .poster__img,
    .poster__content {
        width: 100%;
    }
}

/* ------------------FINE POSTER------------------ */
/* ------------------INIZIO BGCOVER------------------ */
.bg--cover {
    display: flex;
    padding: 100px 0;
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.3) 70.71%
    ),
    url("./images/data3.jpg") no-repeat center center;
    /*con linear ingredient doppio background*/
    background-size: cover;
}

.bg--cover__title {
    width: 50%;
    padding: 50px;
    display: flex;
    align-items: center;
}

/*gli ultimi due comandi per allinearlo al centro verticalmente*/
.bg--cover__text {
    width: 50%;
    padding: 30px;
}

@media (max-width: 768px) {
    .bg--cover {
        flex-wrap: wrap;
        height: auto;
    }

    .bg--cover__title,
    .bg--cover__text {
        width: 100%;
    }
}

/* ------------------FINE BGCOVER------------------ */
/* ------------------INIZIO GRID------------------ */

.grid {
    display: flex;
    max-width: 1350px;
    padding: 0 30px;
    margin: 0 auto;
}

.grid .col {
    width: 100%;
}

@media (max-width: 768px) {
    .grid {
        flex-wrap: wrap;
    }
}

/* ------------------FINE GRID------------------ */
/* ------------------INZIO CAROSELLO------------------ */

.main-carousel {
    padding: 40px 0;
}

.carousel-cell {
    height: 350px;
    width: 350px;
    background: #6adf91;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    /*ultime 2 comandi per allineare testo nella palla*/
    margin-right: 40px;
}

.scatter {
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.3) 70.71%
    ),
    url("images/scatter.png") no-repeat center center;
    /*con linear ingredient doppio background*/
    background-size: cover;
}

.parallel {
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.3) 70.71%
    ),
    url("./images/parallel.jpg") no-repeat center center;
    /*con linear ingredient doppio background*/
    background-size: cover;
}

.fdg {
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.3) 70.71%
    ),
    url("./images/fdg.png") no-repeat center center;
    /*con linear ingredient doppio background*/
    background-size: cover;
}

.sankey {
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.3) 70.71%
    ),
    url("./images/sankey.png") no-repeat center center;
    /*con linear ingredient doppio background*/
    background-size: cover;
}

/* ------------------FINE CAROSELLO------------------ */
/* ------------------INIZIO FOOTER------------------ */
.footer {
    background: #010e30;
    padding: 160px 0;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .logo__footer {
        display: none;
    }

    .footer {
        padding-top: 200px;
    }
}

/* ------------------FINE FOOTER------------------ */
/* ------------------INIZIO FORM------------------ */
.new-form, #form-container {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    max-height: 600px;
}

.form {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
}

.form .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.form .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #9b59b6;
}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

form .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .category label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
    background: #9b59b6;
    border-color: #d9d9d9;
}

form input[type="radio"] {
    display: none;
}

form .form-button {
    height: 45px;
    margin: 35px 0;
}

div.form-button {
    margin: 15px auto;
    height: 30px;
    margin-top: 25px;
}

.box {
    margin: 0 20px;
}

@media (max-width: 584px) {
    .container {
        max-width: 100%;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .category {
        width: 100%;
    }

    .content form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 5px;
    }
}

@media (max-width: 459px) {
    .container .content .category {
        flex-direction: column;
    }
}

/* ------------------FINE FORM------------------ */
/* ------------------INIZIO CIRCLE------------------ */
.circle {
    display: flex;
    height: 300px;
    margin: auto 0;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    gap: 50px;
}


.circle-scatter {
    border-radius: 100%;
    height: 100px;
    width: 100px;
    background-image: url("images/scatter.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    box-shadow: 2px 2px 5px #dedede, -2px -2px 5px #dedede, 2px -2px 5px #dedede,
    -2px 2px 5px #dedede;
    position: relative;
}

.circle-sankey {
    border-radius: 100%;
    height: 100px;
    width: 100px;
    background-image: url("./images/sankey.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    box-shadow: 2px 2px 5px #dedede, -2px -2px 5px #dedede, 2px -2px 5px #dedede,
    -2px 2px 5px #dedede;
    position: relative;
}

.circle-parallel {
    border-radius: 100%;
    height: 100px;
    width: 100px;
    background-image: url("./images/parallel.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    box-shadow: 2px 2px 5px #dedede, -2px -2px 5px #dedede, 2px -2px 5px #dedede,
    -2px 2px 5px #dedede;
    position: relative;
}

.circle-force-directed {
    border-radius: 100%;
    height: 100px;
    width: 100px;
    background-image: url("./images/fdg.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    box-shadow: 2px 2px 5px #dedede, -2px -2px 5px #dedede, 2px -2px 5px #dedede,
    -2px 2px 5px #dedede;
    position: relative;
}

.circle:hover {
    cursor: pointer;
}

.circle-scatter p,
.circle-sankey p,
.circle-force-directed p,
.circle-parallel p {
    text-align: center;
    color: black;
    padding: 0;
    position: absolute;
    top: 20%;
    left: 3%;
    font-family: "Bebas Neue", cursive;
    font-size: 20px;
}

.circle-scatter p {
    top: 35%;
    left: 7%;
}

/* ------------------FINE CIRCLE------------------ */
/* ------------------INIZIO checkbox------------------ */
.checkbox {
    margin: 15px;
}

/* ------------------FINE checkbox------------------ */
/* ------------------INZIO D3------------------ */
.tooltip {
    position: absolute;
    font-size: 12px;
    width: auto;
    height: auto;
    pointer-events: none;
    background-color: white;
    border-style: groove;
}

#main {
    position: relative;
}

#my-dataviz {
    display: inline-block;
    height: 600px;
    margin: 0 calc(50vw - 300px);
}

/* ------------------FINE D3------------------ */

/* ------------------INZIO SANKEY DIAGRAM------------------ */
.node rect {
    fill-opacity: 0.9;
    shape-rendering: crispEdges;
}

.node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}

.link {
    fill: none;
    stroke: #000;
    stroke-opacity: 0.2;
}

.link:hover {
    stroke-opacity: 0.5;
}
/* ------------------FINE SANKEY DIAGRAM------------------ */
/*------------------INIZIO PARALLEL COORDINATES------------------*/
#my-dataviz canvas {
    position: absolute;
    left: 0;
    z-index: -1;
    margin: 25px auto 25px calc(50vw - 250px);
}
/*------------------FINE PARALLEL COORDINATES------------------*/
/* ------------------INIZIO MENÚ DI PERSONALIZZAZIONE------------------ */
select {
    background-color: #d6e0f9;
    border-color: #8aaafa;
    width: 15em;
    height: 2.5em;
    margin: 5px;
    font-family: "Cinzel", serif;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

#hamburger-menu {
    display: none;
    width: 30px;
    height: 30px;
    margin: 25px 25px 25px auto;
    cursor: pointer;
}

#hamburger-menu span {
    background: #000;
    height: 3px;
    width: 100%;
    display: block;
    margin-bottom: 5px;
}

#personalization {
    display: inline-block;
    position: absolute;
    top: 55px;
    right: 0;
    width: 0;
}

#sankey-personalization, #scatter-personalization,
#pc-personalization, #fdg-personalization {
    width: 100%;
    height: 600px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    overflow-y: scroll;
    direction: rtl;
    background-color: rgba(255, 255, 255, 80%);
}

#sankey-personalization *, #scatter-personalization *,
#pc-personalization *, #fdg-personalization * {
    direction: ltr;
}

#sankey-personalization p, #scatter-personalization p,
#pc-personalization p, #fdg-personalization p {
    padding: 1em;
}

#sankey-personalization input, #scatter-personalization input,
#pc-personalization input, #fdg-personalization input,
#sankey-personalization select, #scatter-personalization select,
#pc-personalization select, #fdg-personalization select {
    width: 50%;
    margin: 0 25%;
}

#sankey-personalization div, #scatter-personalization div,
#pc-personalization div, #fdg-personalization div {
    width: 300px;
    margin:auto;
}

/* ------------------FINE INIZIO MENÚ DI PERSONALIZZAZIONE------------------ */
/* ------------------INZIO HELPERS------------------ */
.mt-1 {
    margin-top: 50px;
}

.mt-2 {
    margin-top: 100px;
}

.mt-3 {
    margin-top: 150px;
}

.plr-1 {
    padding-left: 50px;
    padding-right: 50px;
}

.pb-1 {
    padding-bottom: 30px;
}

.tw {
    color: #fff;
}

/* ------------------FINE HELPERS------------------ */
*,
    /*resetta padding elementi, padding applicato all'interno degli elementi, no prbl sovrapposizioni*/
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}